.Logo {
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
     /* margin-left: -102px;  */

     text-decoration: none;
     padding-left: 0.5rem;
     padding-right: 0.5rem;
     float: left;
     -webkit-box-sizing: border-box;
    
 
}

.Logo img {
    height: 130%;
    max-width: 140%;
}
.logos{
    height: 94%;
    width: 35%;
}


