.ui.menu .item,a,a:hover{
    color: white !important;
    cursor: pointer;
    
}
  
.logo {
    height: 85%;   
}


.ui.menu {
    background-color:  #1a3260;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0px;
    left: 0;
    justify-content: space-between; 
    /* padding: 0 20px; */
    box-sizing: border-box;
    z-index: 100;
    border-radius: 0px;
   
}
.ui.search .prompt {
    margin-top: 10px;
}

.ui.input input{
    margin-top: 2.6px;
      border-radius: 1.286rem;
}

i.icon, i.icons {
    font-size: .733em;
    height: 1em;
}
@media (min-width: 938px) { 

.mobilemenu{
    display: none;
}
}

@media (max-width: 937px){
    .desktopmenu{
        display: none;
    }
    .logo{
        height: 80%;
    }
}


  















