.messageheader{
    color:black !important;
}
.message{
    color:black !important;
    /* white-space: nowrap; */
    
}

.floatright{
    margin-top: -95px;
    float: right;
}
.floatright1{
    margin-top: -35px;
    float: right;
}
.loaddata{
    max-height: 230px;
    overflow-y: scroll;
}
  .errorMsg{
    color:#cc0000;
    margin-bottom: 12px;
    white-space: wrap;
  }