.messageheader{
    color:black !important;
    
}
.message{
    color:black !important;
    /* white-space: nowrap; */
    
}

.column {
  float: left;
 padding: 15px;
  width: 50%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
.floatright{
    margin-top: -95px;
    float: right;
}
.floatright1{
    margin-top: -35px;
    float: right;
}
.loaddata{
    max-height: 230px;
    overflow-y: scroll;
}
  .errorMsg{
    color:#cc0000;
    margin-bottom: 12px;
    white-space: wrap;
  }
  .para{
      padding: 5px;
      font-weight: 500;
  }
  .ui.dropdown .menu > .item > .image, .ui.dropdown .menu > .item > img {
  
    width: 127px;
    max-height: 5.1em;
  }
  @media (max-width: 800px) {
  .column {
    width: 100%;
  }
  }
   @media (max-width: 900px) {
  
.ui.dropdown .menu > .item > .image, .ui.dropdown .menu > .item > img {
  
    width: 70px;
    max-height: 4em;
  }
 
}
