.ui.button:disabled, .ui.disabled.button:hover {
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
    pointer-events: all !important;
    cursor: not-allowed !important;
}

.modal{
    background-color: cornflowerblue;
}

.description{
  width: 400px !important;
  margin-top: 51px;
}
@media (max-width: 800px) {

  .modal {
    width: 80% !important;
  }
}
