.Input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
      
      
}

.Label {
    font-weight: bold;
    display: block;
    /* margin-bottom: 8px; */
    /* font-size: small; */
   /* float: left; */
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    font-size: small;
    /* padding: 6px 10px; */
    padding-left: 5px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A !important;
}